<%
/**
 * views/partials/navbar.ejs
 *
 */%>

<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar">


  <form class="form-inline mr-auto">
    <ul class="navbar-nav mr-3">
      <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
      <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="ion ion-search"></i></a></li>
    </ul>


    <%/* BUSCADOR  */%>
    <%/*
    <div class="search-element">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn" type="submit"><i class="ion ion-search"></i></button>
    </div>
    */%>
  </form>

  <ul class="navbar-nav navbar-right">
    <%/* NOTIFICACIONES */%>
    <%/*
    <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg"><i class="ion ion-ios-bell-outline"></i></a>
      <div class="dropdown-menu dropdown-list dropdown-menu-right">
        <div class="dropdown-header">Notifications
          <div class="float-right">
            <a href="#">View All</a>
          </div>
        </div>
        <!-- Lista de Notificaciones -->
        <div class="dropdown-list-content">

        </div>
      </div>
    </li>
    */%>

    <%/* ZONA DE USUARIOS */%>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
        <i class="ion ion-android-person d-lg-none"></i>
        <div class="d-sm-none d-lg-inline-block"><%= typeof(i18n('hello')) === 'undefinied' ? 'Hi, ' : i18n('hello') %>{{ me.name }} {{ me.lastName }}</div>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <!-- LINK PROFILE <a href="/profile" class="dropdown-item has-icon"><i class="ion ion-android-person"></i> Profile</a> -->
        <a href="/logout" class="dropdown-item has-icon"><i class="ion ion-log-out"></i> Logout</a>
      </div>
    </li>
  </ul>
</nav>

