<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= typeof(i18n('Name App')) === 'undefinied' ? 'Administrator App' : titlePage +' - '+ i18n('Name App') %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
    <link rel="stylesheet" href="/styles/modules/ionicons.css">
    <link rel="stylesheet" href="/styles/modules/fontawesome-all.css">
    <link rel="stylesheet" href="/styles/modules/sweetalert2.min.css">
    <link rel="stylesheet" href="/styles/modules/toastr.min.css">
    <link rel="stylesheet" href="/styles/demo.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/deltadmin.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/skin/darksidebar.css">
    <!--STYLES END-->

  </head>

  <body>
    <div id="app">
      <div class="main-wrapper">
        <%- body %>
      </div>
    </div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
    <script>delete window.self;</script>

    <% /* Auto-injected «script» tags: */ %>
    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/bowser.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/axios.min.js"></script>
    <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/moment-with-locales.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/dependencies/sweetalert2.min.js"></script>
    <script src="/js/modules/popper.js"></script>
    <script src="/js/modules/tooltip.js"></script>
    <script src="/js/modules/chart.min.js"></script>
    <script src="/js/modules/gmaps.js"></script>
    <script src="/js/modules/jquery.nicescroll.min.js"></script>
    <script src="/js/modules/scroll-up-bar.min.js"></script>
    <script src="/js/modules/toastr.min.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/stisla/stisla.js"></script>
    <script src="/js/stisla/scripts.js"></script>
    <script src="/js/pages/contact.page.js"></script>
    <script src="/js/pages/customers/list.page.js"></script>
    <script src="/js/pages/dashboard.page.js"></script>
    <script src="/js/pages/forgot.page.js"></script>
    <script src="/js/pages/login.page.js"></script>
    <script src="/js/pages/masters/afp/list.page.js"></script>
    <script src="/js/pages/masters/arl/list.page.js"></script>
    <script src="/js/pages/masters/bank-accounts/list.page.js"></script>
    <script src="/js/pages/masters/banks/list.page.js"></script>
    <script src="/js/pages/masters/ccf/list.page.js"></script>
    <script src="/js/pages/masters/eps/list.page.js"></script>
    <script src="/js/pages/masters/holding/list.page.js"></script>
    <script src="/js/pages/register.page.js"></script>
    <script src="/js/pages/reset.page.js"></script>
    <script src="/js/pages/users/confirmed-user.page.js"></script>
    <script src="/js/pages/users/list.page.js"></script>
    <script src="/js/pages/users/register.page.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
