<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= typeof(i18n('Name App')) === 'undefinied' ? 'Administrator App' : titlePage +' - '+ i18n('Name App') %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
    <link rel="stylesheet" href="/styles/modules/ionicons.css">
    <link rel="stylesheet" href="/styles/modules/fontawesome-all.css">
    <link rel="stylesheet" href="/styles/modules/toastr.min.css">
    <link rel="stylesheet" href="/styles/demo.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/skin/darksidebar.css">
    <!--STYLES END-->
    <style>
      body,html{height:100%}body.my-login-page{background-color:#f7f9fb;font-size:14px}.my-login-page .brand{width:90px;height:90px;overflow:hidden;border-radius:50%;margin:40px auto;box-shadow:0 0 40px rgba(0,0,0,.05)}.my-login-page .brand img{width:100%}.my-login-page .card-wrapper{width:400px}.my-login-page .card{border-color:transparent;box-shadow:0 0 40px rgba(0,0,0,.05)}.my-login-page .card.fat{padding:10px}.my-login-page .card .card-title{margin-bottom:30px}.my-login-page .form-control{border-width:2.3px}.my-login-page .form-group label{width:100%}.my-login-page .btn.btn-block{padding:12px 10px}.my-login-page .margin-top20{margin-top:20px}.my-login-page .no-margin{margin:0}.my-login-page .footer{margin:40px 0;color:#888;text-align:center}
    </style>
  </head>
  <body class="my-login-page">
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
    <script>delete window.self;</script>

    <% /* Auto-injected «script» tags: */ %>
    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/bowser.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/moment-with-locales.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/dependencies/sweetalert.min.js"></script>
    <script src="/js/modules/popper.js"></script>
    <script src="/js/modules/tooltip.js"></script>
    <script src="/js/modules/chart.min.js"></script>
    <script src="/js/modules/gmaps.js"></script>
    <script src="/js/modules/jquery.nicescroll.min.js"></script>
    <script src="/js/modules/scroll-up-bar.min.js"></script>
    <script src="/js/modules/toastr.min.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/stisla/scripts.js"></script>
    <script src="/js/pages/dashboard.page.js"></script>
    <script src="/js/pages/forgot.page.js"></script>
    <script src="/js/pages/login.page.js"></script>
    <script src="/js/pages/register.page.js"></script>
    <script src="/js/pages/reset.page.js"></script>
    <script src="/js/pages/users/list.page.js"></script>
    <script src="/js/pages/users/register.page.js"></script>
    <!--SCRIPTS END-->
    <script type="text/javascript">
      $(function () {
        $("input[type='password'][data-eye]").each(function (i) {
          let $this = $(this);

          $this.wrap($("<div/>", {
            style: 'position:relative'
          }));
          $this.css({
            paddingRight: 60
          });
          $this.after($("<div/>", {
            html: 'Show',
            class: 'btn btn-primary btn-sm',
            id: 'passeye-toggle-' + i,
            style: 'position:absolute;right:10px;top:50%;transform:translate(0,-50%);padding: 2px 7px;font-size:12px;cursor:pointer;'
          }));
          $this.after($("<input/>", {
            type: 'hidden',
            id: 'passeye-' + i
          }));
          $this.on("keyup paste", function () {
            $("#passeye-" + i).val($(this).val());
          });
          $("#passeye-toggle-" + i).on("click", function () {
            if ($this.hasClass("show")) {
              $this.attr('type', 'password');
              $this.removeClass("show");
              $(this).removeClass("btn-outline-primary");
            } else {
              $this.attr('type', 'text');
              $this.val($("#passeye-" + i).val());
              $this.addClass("show");
              $(this).addClass("btn-outline-primary");
            }
          });
        });
      });
    </script>
  </body>
</html>
