<div id="confirmed-user-email" v-cloak>

  <div class="row justify-content-md-center h-100 mt-5">
    <div class="card-wrapper">
      <div class="brand">
        <img src="/images/favicons/android-icon-96x96.png">
      </div>
      <div class="card fat">
        <div class="card-body text-center">
          <h1>Email Confirmado</h1>
          <div class="confirmation-message" style="font-size: 1.2em;">
            <hr />
            <p>¡Felicidades, tu cuenta ya está verificada!<br /><span class="mobile-spacer">&nbsp;</span>Ahora tienes
              acceso
              completo a tu cuenta.</p>
            <p>↓↓↓</p>
            <p><a class="btn btn-outline-info" href="/">Inicia tu Sesión</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
