<%
/**
 * views/page/users/pm-view-change-passwords.ejs
 * Partial Modal
 * Para ver los datos completos del usuario. y poder editarlo
 * si queremos en el momento.
 */%>

<div class="modal fade" tabindex="-1" role="dialog" id="pm-view-change-passwords" data-backdrop="static" data-keyboard="false" aria-labelledby="pm-view-change-passwords" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <%/* HEADER MODAL */%>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Cambiar Passwords</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="closeModalView('pm-view-change-passwords')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <%/* BODY MODAL */%>
        <div class="modal-body container-fluit">
          <h1>Contenidos</h1>
        </div>

        <%/* FOOTER MODAL */%>
        <div class="modal-footer bg-whitesmoke">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"  v-on:click="closeModalView('pm-view-change-passwords')">{{ btnCerrar }}</button>
        </div>

      </div>
    </div>
</div>

