<%
/**
 * views/page/users/pm-view-new-user-create.ejs
 * Partial Modal
 * Para ver los datos completos del usuario.
 */%>

<div class="modal fade" tabindex="-1" role="dialog" id="pm-view-new-user-create" data-backdrop="static" data-keyboard="false" aria-labelledby="pm-view-new-user-create" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <%/* HEADER MODAL */%>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Usuario Nuevo: {{ newUserCreate.name +' '+ newUserCreate.lastName }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="saveUserComplete(false,true)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%/* BODY MODAL */%>
      <div class="modal-body">
        <div class="container-fluit">

          <section class="row">
            <div class="col-sm-6">
               <div class="form-group row">
                 <div class="col-sm-1">Id:</div>
                 <div class="col-sm-11">
                  <input type="text" class="form-control form-control-sm" v-model="newUserCreate.id" disabled>
                 </div>
              </div>
            </div>
            <div class="col-sm-2">
              <p>Status: {{ newUserCreate.status }}</p>
            </div>
            <div class="col-sm-4">
              <div class="form-group row">
                <div class="col-sm-2">Rol:</div>
                <div class="col-sm-10">
                  <select class="form-control form-control-sm" style="font-size: 13px;height: 30px;line-height: 30px;padding: 0px 10px 2px 9px;margin: 0px;" disabled v-model="newUserCreate.role">
                  <% if(me.role < 1) { %>
                    <option value="0">00 - Super Admin</option>
                  <% } %>
                    <option value="1">01 - Administrador</option>
                    <option value="2">02 - Supervisor</option>
                    <option value="3">03 - Secretario</option>
                    <option value="4">04 - Vendedores</option>
                    <option value="5">05 - </option>
                    <option value="6">06 - </option>
                    <option value="7">07 - Usuario</option>
                    <option value="8">08 - Client</option>
                    <option value="9">09 - Guest</option>
                  </select>
                </div>
              </div>
            </div>
          </section>

          <hr>
          <section class="row">
            <div class="col-sm-12 col-lg-4">
               <div class="form-group">
                 <label>Nombres</label>
                 <input type="text" class="form-control form-control-sm" v-model="newUserCreate.name" disabled>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
               <div class="form-group">
                 <label>Apellidos </label>
                 <input type="text" class="form-control form-control-sm" v-model="newUserCreate.lastName" disabled>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4"><br>
              <% if(me.isSuperAdmin) { %>
              <div class="form-group row">
                 <div class="col-sm-7">Super Admin</div>
                 <div class="col-sm-5">
                   <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1" v-model="newUserCreate.isSuperAdmin" disabled>
                    <label class="form-check-label" for="gridCheck1"></label>
                 </div>
                </div>
              </div>
              <% } %>
            </div>
          </section>
          <section class="row">
            <div class="col-sm-12 col-lg-4">
               <div class="form-group">
                 <label>E-mail</label>
                 <input type="text" class="form-control form-control-sm" v-model="newUserCreate.emailAddress" disabled>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="form-group">
                <label>E-mail Status:</label>
                <select class="form-control form-control-sm" style="font-size: 13px;height: 30px;line-height: 30px;padding: 0px 10px 2px 9px;margin: 0px;" disabled v-model="newUserCreate.emailStatus">
                  <option value="unconfirmed">No Confirmado</option>
                  <option value="changeRequested">Cambio Requisito</option>
                  <option value="confirmed">Confirmado</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
               <div class="form-group">
                 <label>Telefono</label>
                 <input type="text" class="form-control form-control-sm" v-model="newUserCreate.phone" disabled>
              </div>
            </div>
          </section>
          <section class="row">
            <div class="col-sm-12 col-lg-4">
              <div class="form-group">
                <label for="">Ultima login:</label>
                <input type="text" class="form-control form-control-sm" v-model="newUserCreate.lastSeenAt" disabled>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="form-group">
                <label for="">Ultima Edicion</label>
                <input type="text" class="form-control form-control-sm" v-model="newUserCreate.updatedAt" disabled>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="form-group">
                <label for="">Creado desde:</label>
                <input type="text" class="form-control form-control-sm" v-model="newUserCreate.createdAt" disabled>
              </div>
            </div>
          </section>

          <hr>
          <section class="row">
            <div class="col-sm-12 col-lg-4">
              <h5>Miselanea</h5>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12 col-lg-4">
              <div class="form-group">
                <label for="">Ultima Ip:</label>
                <input type="text" class="form-control form-control-sm" v-model="newUserCreate.tosAcceptedByIp" disabled>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="form-group">
                <label for="">Password Rest Token</label>
                <input type="text" class="form-control form-control-sm" v-model="newUserCreate.passwordResetToken" disabled>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="form-group">
                <label for="">Password Reset Token Exp</label>
                <input type="text" class="form-control form-control-sm" v-model="newUserCreate.passwordResetTokenExpiresAt" disabled>
              </div>
            </div>
          </section>
          <section class="row">
            <div class="col-sm-12 col-lg-4">
              <div class="form-group">
                <label for="">Email Proof Token</label>
                <input type="text" class="form-control form-control-sm" v-model="newUserCreate.emailProofToken" disabled>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="form-group">
                <label for="">Email Proof Token Exp</label>
                <input type="text" class="form-control form-control-sm" v-model="newUserCreate.emailProofTokenExpiresAt" disabled>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="form-group">
                <label for="">Email Change Candidate</label>
                <input type="text" class="form-control form-control-sm" v-model="newUserCreate.emailChangeCandidate" disabled>
              </div>
            </div>
          </section>
        </div>
      </div>


      <%/* FOOTER MODAL */%>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" v-on:click="saveUserComplete(false,true)">Aceptar</button>
      </div>
  </div>
</div>


