<div id="498" v-cloak class="h-100">
  <section class="h-100 mt-5">
    <div class="container h-100">
      <div class="row justify-content-md-center align-items-center h-100">
        <div class="card-wrapper text-center">
          <div class="brand">
            <img src="/images/favicons/android-icon-96x96.png">
          </div>
          <div class="card fat mt-4">
            <div class="card-body">
              <h2 class="card-title">Lo sentimos, ese enlace ha caducado,<br /><span class="mobile-spacer">&nbsp;</span> o ya se ha utilizado.</h2>
              <hr>
              <div class="help" style="font-size: 1.2em;">
                <p>¿Necesita más ayuda para acceder a su cuenta?<br /><span class="mobile-spacer">&nbsp;</span>Por favor
                  <a href="/contacto">contacte con soporte</a> o genere un nuevo <a href="/password/forgot">cambio de
                    contraseña.</a></p>
                <p>↓↓↓</p>
                <a class="btn btn-lg btn-outline-dark" href="/password/forgot">Cambiar Contraseña.</a>
                <a class="btn btn-lg btn-outline-dark" href="/login">Inicia tu Sesión</a>
                <a class="btn btn-lg btn-outline-dark" href="/contacto">Contacte a soporte</a>
                <p>↑↑↑</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
