<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>

<div style=" font-size: 1.7em; text-align: left; ">
  <p>Confirmar Reset Password</p>
</div>

<div id="contenido">
  <p>Hola: <%= fullName %></p>
  <p>Alguien solicitó un restablecimiento de contraseña para su cuenta. Si no fuiste tú, ignora este correo electrónico. De lo contrario, haga clic en el boton de abajo para elegir una nueva contraseña:</p>
  <br>
  <a href="<%= url.resolve(sails.config.custom.baseUrl[0],'/password/new')+'?token='+encodeURIComponent(token) %>" style="text-decoration: none;"> <button style=" width: 200px; height: 50px; background-color: #1A237E; border: 0px; border-style: none; margin: 0px auto; display: table; font-size: 1.3em; border-radius: 4px; cursor: pointer; color: #FFF; ">Cambiar Contraseña</button> </a>
  <br>
  <p>Link <a href="<%= url.resolve(sails.config.custom.baseUrl[0],'/password/new')+'?token='+encodeURIComponent(token) %>"><%= url.resolve(sails.config.custom.baseUrl[0],'/password/new')+'?token='+encodeURIComponent(token) %></a></p>
</div>
