<div id="dashboard" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets\styles\pages\view-pages\dashboard.less</em>, <em>assets\js\pages\view-pages\dashboard.page.js</em>, and <em>api\controllers\view-pages\view-dashboard.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
