<div id="holdings-list" v-cloak>

  <%- partial('../../../partials/navbar.ejs') %>
  <%- partial('../../../partials/mainSidebar.ejs') %>

  <div class="main-content">
    <section class="section">

      <h1 class="section-header">
        <div>Empresas del Holding</div>
      </h1>

      <div class="row mt-5">
        <div class="col-12">
          <div class="card card-primary">
            <section class="card-header">
              <h4>Lista:</h4>
            </section>


            <section class="card-body">
              body
            </section>

            <section class="card-footer">
              footer
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>


  <%- partial('../../../partials/footer.ejs') %>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
